body{
    /* width: Fixed (1,440px)px; */
    height: Hug (4,274px)px; */
    /* width:90rem;
    height:267.125rem; */
    min-height: 900px;
    top: -1674px;
    left: -124px;
    padding: 0px 48px 0px 48px;
    gap: 0px;
    opacity: 0px;
    background: #020D02;
}
/* header */
header{
    /* width:1,344px;
    height:88px; */
    padding: 20px 0px 20px 0px;
    gap: 52px;
    border: 0px 0px 1.5px 0px;
    justify-content: space-between;
    opacity: 0px;
    background: #020D02;
    display:flex;

}
.logo{
    /* width: 193px;
    height: 48px; */
    gap: 12px;
    opacity: 0px;
    
}
.text{
    /* width: 193px;
    height: 28px; */
    gap: 0px;
    opacity: 0px;
    font-family: Source Serif 4;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #D7E4D7;

}
.contents{
    /* width: 491px;
    height: 32px; */
    gap: 40px;
    opacity: 0px;
   

}

ul{
    /* width: 80px;
    height: 32px; */
    gap: 40px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #D7E4D7; 
    display:flex;
    list-style: none;
}
/* div1 */
main{
    /* width: 1,344px;
    height:4,006px; */
    padding: 48px 0px 48px 0px;
    gap: 0px;
    opacity: 0px;
}
.container{
    /* width: 1,344px;
    height: 3,910px; */
    gap: 0px;
    opacity: 0px;
}
.first{
    /* width: Fill (1,344px)px;
    height: Hug (1,156px)px; */
    padding: 96px 0px 96px 0px;
    margin: 52px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    background: #020D02;

}
.heading1{
    /* width: 1344px;
    height: 240px; */
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #D7E4D7;
    margin-bottom: 50px;
}
.image img{
    width: 1344px;
    height: 672px;
    gap: 0px;
    border-radius: 28px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;

}
/* div 2 */
.second{
    /* width: Fill (1,344px)px;
    height: Hug (400px)px; */
    padding: 96px 0px 96px 0px;
    gap: 0px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    background: #020D02;
    text-align: center;
    justify-self:center;
    align-content: center;
    align-items: center;
}
.heading2{
    /* width: 900px;
    height: 208px; */
    max-width: 900px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: center;
    align-items: center;
    color: #D7E4D7;
    margin-left: 260px;
}
/* div 3 */
.third{
    /* width: Fill (1,344px)px;
    height: Hug (216px)px; */
    padding: 52px 0px 52px 0px;
    gap: 52px;
    opacity: 0px;
    background: #020D02;
    display: flex;
}


.title{
    width: 646px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #D7E4D7;
}
table{
    /* width: Fill (646px)px;
    height: Hug (112px)px; */
    gap: 20px;
    opacity: 0px;
}
tr{
    /* width: Fill (646px)px;
    height: Hug (24px)px; */
    gap: 52px;
    opacity: 0px;
}
td{
    width: 297px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-align: left;
    color: #D7E4D7;
    padding-bottom:15px;

}

/* div 4 */
.fourth{
    /* width: Fill (1,344px)px;
    height: Hug (744px)px; */
    padding: 32px 0px 32px 0px;
    gap: 0px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    background: #020D02;
}
.card{
    /* width: Fill (1,344px)px;
    height: Hug (680px)px; */
    padding: 0px 68px 0px 0px;
    gap: 0px;
    border-radius: 28px;
    opacity: 0px;
    background: linear-gradient(175.81deg, rgba(184, 224, 184, 0.063) 27.37%, rgba(17, 95, 17, 0.112) 96.85%);
    border: 1px;
    display: flex;
}
.imagediv{
    /* width: 560px;
    height: 680px; */
    gap: 0px;
    opacity: 0px;
}
.imagediv img{
    /* width: 560px;
    height: 680px; */
    left: -160px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-radius: 28px;   
}
.letter{
    /* width: Fill (716px)px;
    height: Hug (136px)px; */
    gap: 20px;
    opacity: 0px;
    margin-left: 20px;
    justify-content: center;
    align-content: center;
}
.one{
    /* width: 716px;
    height: 52px; */
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #D7E4D7;
}
.two{
    /* width: 716px;
    height: 64px; */
    gap: 0px;
    opacity: 0px;
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: left;
    color: #D7E4D7;
}

/* div 5 */
.fifth{
    width: 1344px;
    height: 900px;
    gap: 0px;
    opacity: 0px;
    background: #020D02;
    display: flex;
}
.photo{
    width: 720px;
    height: 900px;
    /* left: 572px; */
    padding: 0px 68px 0px 0px;
    gap: 0px;
    opacity: 0px;

}
.photo img{
    width: 730px;
    height: 900px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(180deg, rgba(2, 13, 2, 0) 0%, #A0EEA01D 100%);

}
.textcontent{
    width: Fixed (624px)px;
    height: Hug (256px)px;
    top: 322px;
    gap: 52px;
    opacity: 0px;
    align-content: center;
    background: linear-gradient(180deg, rgba(2, 13, 2, 0) 0%, #A0EEA01D 100%);
    padding: 20px;
}
.writing{
    width: Fill (624px)px;
    height: Hug (152px)px;
    gap: 20px;
    opacity: 0px;
}
.three{
    width: 624px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #D7E4D7;
}
.four{
    width: 624px;
    height: 64px;
    gap: 0px;
    opacity: 0px;
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #D7E4D7;
}
.hello{
    width: Hug (171px)px;
    height: Hug (52px)px;
    padding: 14px 32px 14px 32px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    background: #105610;
    color:#FBFEFB;   
}

/* div 6 */
.sixth{
    /* width: Fill (1,344px)px;
    height: Hug (494px)px; */
    padding: 52px 0px 52px 0px;
    gap: 52px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    background: #020D02;
}
.jojo{
    gap: 0px;
    opacity: 0px;
    font-family:Serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #D7E4D7;
    margin-bottom: 40px;
}
.testimonialscards{
    /* width: Fill (1,344px)px;
    height: Hug (286px)px; */
    margin-top: 20px;
    gap: 32px;
    opacity: 0px;
    display: flex;
}
.grid{
    /* width: Fixed (288px)px;
    height: Hug (286px)px; */
    padding: 32px;
    gap: 20px;
    border-radius: 20px;
    opacity: 0px;
    background: #B8E0B81F;
    border-top:1.5px;
}
.grid1{
    /* width: Fixed (288px)px;
    height: Hug (286px)px; */
    padding: 32px;
    gap: 20px;
    border-radius: 20px;
    opacity: 0px;
    background: linear-gradient(270deg, rgba(2, 13, 2, 0) 0%, #B8E0B81F 76%);
    border-top:1.5px;
}

.profile{
    /* width: Fill (224px)px;
    height: Hug (48px)px; */
    gap: 12px;
    opacity: 0px;
    display: flex;
}

.picture img{
    /* width: 48px;
    height: 48px; */
    gap: 0px;
    border-radius: 999px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-top: 1.5px solid #000000;
}
.profilecontent{
    /* width: Fill (164px)px;
    height: Hug (40px)px; */
    gap: 0px;
    opacity: 0px;
    
}
.bold{
    /* width: Fill (164px)px;
    height: Hug (40px)px; */
    gap: 0px;
    opacity: 0px;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;
    color: #D7E4D7;
    margin-bottom:0px;
    margin: 0; padding: 0;
}
.grey{
    /* width: Fill (164px)px;
    height: Hug (40px)px; */
    gap: 0px;
    opacity: 0px;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;
    color: #D1EBD19E;
    margin: 0; padding: 0;
}
.quotes{
    /* width: Fill (224px)px;
    height: Hug (154px)px; */
    padding: 0px 0px 10px 0px;
    gap: 12px;
    opacity: 0.8px;
    display: flex;
    margin-top: 20px;
}
.line{
    /* width: Fixed (48px)px;
    height: Fill (144px)px; */
    gap: 0px;
    opacity: 0px;
    margin-right: 30px;
    margin-left: 20px;
}
.inside{
    width: 0px;
    height:154px;
    gap: 0px;
    border-radius: 1px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border: 1.5px solid #91B69133;
}
.thoughts{
    /* width: 164px;
    height: 144px; */
    gap: 0px;
    opacity: 0px;
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-align: left;
    color: #D7E4D7;
}

/* footer */
footer{
    /* width: Fill (1,344px)px;
    height: Hug (180px)px; */
    padding: 96px 0px 32px 0px;
    gap: 32px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    background: #020D02;
}
.tags{
    /* width: Fill (1,344px)px;
    height: Hug (52px)px; */
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
    display: flex;

}
.year{
    /* width: 248px;
    height: 32px; */
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #D1EBD19E;
}
.button1{
    /* width: Hug (172px)px;
    height: Hug (52px)px; */
    padding: 14px 32px 14px 32px;
    gap: 0px;
    border-radius: 16px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border: 1.5px solid #91B69133;
}
.another{
    /* width: 108px;
    height: 24px; */
    gap: 0px;
    opacity: 0px;
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #D7E4D7;

}


/* Responsive styling  */
@media screen and (max-width:1024px){
    header{
        display:block;
        text-align: center;
    }
    .logo .text{
        text-align: center;
    }
    .contents{
        display: none;
        /* position: relative; */
    }
    .first .heading1{
        font-size: 80px;
    }
    .first .image img{
        display: none;
    }

    .second{
        text-align: center;
    }
    .second .heading2{
        width: 100%;
        margin-left: 0;

    }

    .third{
        flex-direction: column;
        text-align: center;
    }
    .title{
        width: 100%;
        text-align: center;
    }
    table{
        width: 90%;      
    }
    .fourth .card{
        flex-direction: column;
        text-align: center;
    }
    .fourth .card .imagediv img{
        width: 100%;
        margin-left: 45px;
        margin-top: 40px;
    }
    .fourth .card .letter .one,.two{
        text-align: center;
        margin-left: 20px;
    }
    .fifth{
        flex-direction: column;
    }
    .textcontent{
        width: 29%;
        height: 100%;
    }
    .textcontent .writing .three{
        flex-direction: column;
    }
    .textcontent .writing .four{
        width: 100%;
    }
    .textcontent .writing .button{
        text-align: center;
        width:100% ;
    }
    .fifth .photo{
        width: 40%;
        height: 80%; 
        text-align: left;
    }
    .fifth .photo img{
        width: 80%;
        height: 80%;  
    }
    .sixth{
        flex-direction: column;
        text-align: center;
    }
    .sixth .testimonialscards{
        flex-direction: column;
    }

    footer .tags .year{
        font-size: 25px;
    }

    footer .tags .button1 {
        padding: 10px 20px;
        text-align: center;
    }

    footer .tags .button1 .another {
        font-size: 20px;
    }
}

